# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
backend/venv/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Node modules
node_modules/

# Logs
*.log

# Session files
linkedin_session.json